Required Technology
<ul>
    {% for note in lesson.get_accessibility %}
        <li>{{ note }}</li>
    {% endfor %}
</ul>

Physical Space
<ul>
    {% for type in lesson.get_physical_space %}
        <li>{{ type }}</li>
    {% endfor %}
</ul>

Setup
<ul>
    {% for item in lesson.get_setup %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>

Grouping

Accessibility Notes
<ul>
    {% for note in lesson.get_accessibility %}
        <li>{{ note }}</li>
    {% endfor %}
</ul>

Other Notes
{{ lesson.get_other_notes|safe }}
