{{ lesson.title }}<br/>
{{ lesson.slug }}<br/>
{{ lesson.subtitle_guiding_question }}<br/>
{% if resource_carousel %}{{ resource_carousel }}{% endif %}
{% if key_image %}{{ key_image }}{% endif %}
{% if promo %}{{ promo }}{% endif %}
{% if lesson.get_background_information %}
    Background Information
    {{ lesson.get_background_information|safe }}
{% endif %}
{% if lesson.ads_excluded %}ads excluded{% else %}ads included{% endif %}<br/>
{% for assessment in lesson.get_assessments %}{{ assessment }}{% endfor %}
{{ lesson.create_date }}
{{ lesson.description|safe }}
{{ lesson.duration_in_minutes }} minutes<br/>

{% for grade in lesson.grades.all %}
    {% if forloop.first %}Grades {% endif %}
    {{ grade }}
    {% if not forloop.last %}, {% endif %}
{% endfor %}<br/>
{{ lesson.id_number }}<br/>
{% if lesson.is_modular %}modular{% else %}not modular{% endif %}<br/>
{{ lesson.last_updated_date }}<br/>
{% for objective in lesson.get_learning_objectives %}
    {% if forloop.first %}Students will be able to:<ul>{% endif %}
    <li>{{ objective }}</li>
    {% if forloop.last %}</ul>{% endif %}
{% endfor %}
{% for material in lesson.materials.all %}
    {% if forloop.first %}Materials You Provide<ul>{% endif %}
    <li>{{ material }}</li>
    {% if forloop.last %}</ul>{% endif %}
{% endfor %}
{% if lesson.physical_space_type %}
    {% if forloop.first %}Physical Space<ul>{% endif %}
    <li>{{ lesson.physical_space_type }}</li>
    {% if forloop.last %}</ul>{% endif %}
{% endif %}
{% for type in lesson.secondary_types.all %}{{ type }}{% endfor %}<br/>

{% for subject in lesson.subjects.all %}
    {% if forloop.first %}Subjects &amp; Disciplines<ul>{% endif %}
    <li>{{ subject }}</li>
    {% if forloop.last %}</ul>{% endif %}
{% endfor %}<br/>
{% if lesson.geologic_time %}{{ lesson.geologic_time }}{% endif %}
{% for lessonactivity in lesson.lessonactivity_set.all %}
    {{ lessonactivity.activity }}, {{ lessonactivity.transition_text }}
{% endfor %}
