{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia lessons_tags %}

{% block extrahead %}
{{ block.super }}
  {% url admin:jsi18n as jsi18nurl %}
  <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  <link href="/media/css/lessons.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block coltype %}
  {% if ordered_objects %}colMS{% else %}colM{% endif %}
{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
  {% if not is_popup %}
    <div class="breadcrumbs">
      <a href="../../../">{% trans "Home" %}</a> &rsaquo;
      <a href="../../">Lessons</a> &rsaquo;
      {% if has_change_permission %}
        <a href="../">Lessons</a>
      {% else %}
        Lessons
      {% endif %} &rsaquo; 
      {% if add %}
        {% trans "Add" %} lesson
      {% else %}
        {{ original|truncatewords:"18" }}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}
      <li>
        <a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
          {% trans "View on site" %}
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">
  {% block form_top %}{% endblock %}
    <div>
      {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
      {% submit_row %}
      {% if errors %}
          <p class="errornote">
            {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
          </p>
          {{ adminform.form.non_field_errors }}
      {% endif %}

      <a class="tab selected" id="tab0">Content</a>
      <a class="tab" id="tab1">Metadata</a>
      <a class="tab" id="tab2">Schedule</a>
      {% for fieldset in adminform %}
        <div class="page page{{ fieldset|tab_num }}">
          <fieldset class="module aligned {{ fieldset.classes }}">
            {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
            {% if fieldset.description %}
              <div class="description">{{ fieldset.description|safe }}</div>
            {% endif %}
            {% for line in fieldset %}
                <div class="form-row{% if line.errors %} errors{% endif %} {% for field in line %}{{ field.field.name }} {% endfor %} ">
                {{ line.errors }}
                {% for field in line %}
                  <div{% if not line.fields|length_is:"1" %} class="field-box"{% endif %}>
                      {{ field.label_tag }}{{ field.field }}
                      {% if field.field.name|get_model %}
                        <a id="lookup_id_{{field.field.html_name}}" class="related-lookup" onclick="return showGenericRequiredModelLookupPopup(this, '{{ field.field.name|get_model }}');" href="#">
                            <img width="16" height="16" alt="Lookup" src="{% admin_media_prefix %}img/admin/selector-search.gif"/>
                        </a>
                      {% endif %}
                      {% if field.field.field.help_text %}
                        <p class="help">
                          {{ field.field.field.help_text|safe }}
                        </p>
                      {% endif %}
                  </div>
                {% endfor %}
                </div>
            {% endfor %}
          </fieldset>
        </div>
      {% endfor %}

      {% block after_field_sets %}{% endblock %}

      <div class="page page0">
        {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
        {% endfor %}
      </div>

      {% block after_related_objects %}{% endblock %}

      {% submit_row %}

      {% if adminform and add %}
         <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
      {% endif %}

      {# JavaScript for prepopulated fields #}
      {% prepopulated_fields_js %}
    </div>
  </form>
</div>
{% endblock %}
